.container_viewer{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/backgraund_block_viewer.png);
}
.layer_main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,39,255,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    z-index: 0;
    transition: 0.3s;
}
.main_foto{
    width: 80%;
    height: 90%;
    background: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 250%;
    color: grey;
}
.hide_block{
    display: none;
}
[class^="scroll_"]{
    position: absolute;
    z-index: 1;
    background-color: rgba( 0, 0, 0, 0.4 );
    transition: 0.3s;
    display: flex;
    font-size: 300%;
    border-radius: 10px;
    cursor: pointer;
    color: gold;
    padding-bottom: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
.scroll_left{
    top: 43.5%;
    left: 2%;
    width: 7%;
    height: 12%;
    align-items: center;
    justify-content: center;
}
.scroll_right{
    top: 43.5%;
    right: 2%;
    width: 7%;
    height: 12%;
    align-items: center;
    justify-content: center;
}
.scroll_right:hover:before{
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    content: 'ctrl + \2192';
    text-align: center;
    font-size: 15px;
}
.scroll_left:hover:before{
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    content: 'ctrl + \2190';
    text-align: center;
    font-size: 15px;
}
.close_main_foto{
    position: absolute;
    z-index: 3;
    top: 3vh;
    right: 2vw;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    padding: 5px 10px;
    color: gold;
    background-color: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0px 0px 7px 1px gold;
    transition: 0.2s;
}