.container_previe{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rows_previe{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.cell_previe{
    box-sizing : border-box;
    position: relative;
    background-color : #FFF;
    height: 100%;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.cell_previe:after{
    content: 'loading';
    font-family: monospace;
    color: rgb(58, 61, 220);
    font-size: 130%;
}
.layer_preview{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 128, 128, 128, 0.5 );
    z-index: 1;
    cursor: pointer;
}
.preview{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
}
.active_preview .layer_preview{
    z-index: -1;
}
.active_preview{
    box-shadow: 0px 4px 0px 0px gold;
    cursor: pointer;
}